@import "tailwindcss";

/* .chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
} */


.racing-sans-one-regular {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  .atkinson-hyperlegible-mono-regular {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

  